# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать скомпилированные файлы Python
*.pyc
__pycache__/

# Игнорировать файлы окружения (если вы их используете)
.env

# Игнорировать файлы настроек IDE (если они специфичны для вашей среды)
.vscode/
.idea/

# Игнорировать файлы операционной системы
*.swp  # Swap-файлы vim
*.DS_Store # Файлы macOS Finder
Thumbs.db # Файлы Windows Explorer


